<footer class="text-center  py-5 mt-5">
    <div class="container">
        <p class="mb-2 fs-5 fw-semibold text-light ">
            © <span th:text="${#dates.format(#dates.createNow(), 'yyyy')} text-white">2025</span> LifeLink

        </p>
        <p class="mb-0 text-light">
            <i class="fas fa-envelope me-2"></i>
            <a href="mailto:info@lifelink.com" class="text-white text-decoration-none">info@lifelink.com</a> |
            <i class="fas fa-phone me-2 ms-3"></i>+977 9800000000
        </p>
    </div>
</footer>
